# Imports and reading in the data

In [1]:
import pandas as pd
df = pd.read_csv('data/Hotel Reservations.csv')

# EDA
I will start by exploring the data with some simple commands like info, describe, unique values etc.

In [2]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [4]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [6]:
for column in df.columns:
    print(f"\n{column} unique values:")
    print(df[column].value_counts())

Booking_ID unique values:
Booking_ID
INN36275    1
INN00001    1
INN00002    1
INN36259    1
INN36258    1
           ..
INN00008    1
INN00007    1
INN00006    1
INN00005    1
INN00004    1
Name: count, Length: 36275, dtype: int64

no_of_adults unique values:
no_of_adults
2    26108
1     7695
3     2317
0      139
4       16
Name: count, dtype: int64

no_of_children unique values:
no_of_children
0     33577
1      1618
2      1058
3        19
9         2
10        1
Name: count, dtype: int64

no_of_weekend_nights unique values:
no_of_weekend_nights
0    16872
1     9995
2     9071
3      153
4      129
5       34
6       20
7        1
Name: count, dtype: int64

no_of_week_nights unique values:
no_of_week_nights
2     11444
1      9488
3      7839
4      2990
0      2387
5      1614
6       189
7       113
10       62
8        62
9        34
11       17
15       10
12        9
14        7
13        5
17        3
16        2
Name: count, dtype: int64

type_of_meal_plan unique values:
type_of_meal_plan
Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: count, dtype: int64

required_car_parking_space unique values:
required_car_parking_space
0    35151
1     1124
Name: count, dtype: int64

room_type_reserved unique values:
room_type_reserved
Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: count, dtype: int64

lead_time unique values:
lead_time
0      1297
1      1078
2       643
3       630
4       628
       ...
348       1
352       1
328       1
300       1
355       1
Name: count, Length: 352, dtype: int64

arrival_year unique values:
arrival_year
2018    29761
2017     6514
Name: count, dtype: int64

arrival_month unique values:
arrival_month
10    5317
9     4611
8     3813
6     3203
12    3021
11    2980
7     2920
4     2736
5     2598
3     2358
2     1704
1     1014
Name: count, dtype: int64

arrival_date unique values:
arrival_date
13    1358
17    1345
2     1331
19    1327
4     1327
16    1306
20    1281
6     1273
15    1273
18    1260
14    1242
30    1216
12    1204
8     1198
29    1190
21    1158
5     1154
25    1146
26    1146
1     1133
9     1130
28    1129
7     1110
24    1103
3     1098
11    1098
10    1089
27    1059
22    1023
23     990
31     578
Name: count, dtype: int64

market_segment_type unique values:
market_segment_type
Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: count, dtype: int64

repeated_guest unique values:
repeated_guest
0    35345
1      930
Name: count, dtype: int64

no_of_previous_cancellations unique values:
no_of_previous_cancellations
0     35937
1       198
2        46
3        43
11       25
5        11
4        10
13        4
6         1
Name: count, dtype: int64

no_of_previous_bookings_not_canceled unique values:
no_of_previous_bookings_not_canceled
0     35463
1       228
2       112
3        80
4        65
5        60
6        36
7        24
8        23
9        19
10       19
11       15
12       12
14        9
15        8
16        7
13        7
17        6
19        6
20        6
18        6
21        6
22        6
25        3
24        3
23        3
27        3
30        2
32        2
44        2
29        2
48        2
28        2
31        2
26        2
53        1
47        1
49        1
34        1
50        1
39        1
33        1
52        1
35        1
37        1
42        1
51        1
38        1
56        1
45        1
55        1
57        1
46        1
43        1
54        1
58        1
41        1
40        1
36        1
Name: count, dtype: int64

avg_price_per_room unique values:
avg_price_per_room
65.00     848
75.00     826
90.00     703
95.00     669
115.00    662
         ...
157.85      1
66.59       1
144.68      1
147.93      1
159.08      1
Name: count, Length: 3930, dtype: int64

no_of_special_requests unique values:
no_of_special_requests
0    19777
1    11373
2     4364
3      675
4       78
5        8
Name: count, dtype: int64

booking_status unique values:
booking_status
Not_Canceled    24390
Canceled        11885
Name: count, dtype: int64

## Findings
From this we can see that there are no null values anywhere and there are also no placeholders for missing data which is good because we won't have to clean the data, any transformations we make will be for data analysis and model performance.

We also know that a model that just assumes there are no cancelations is correct about 66% of the time meaning our model has to have at least this performance.

The data appears to be from two years so making any predictions based on the year will likely not yield results, specially since important information about the year is more related to news than the number.

There are only 930 repeated guests, we will be able to make some conclusion from these guests but it will not apply to the majority of the business.

Finally there does not appear to be any clear outliers so we will not need to search for outliers and remove them to make models more accurate.